.button {
  background: #4b5548;
  border: 1px solid #4b5548;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  padding: 13px 60px;
  transition: 0.3s;
  outline: none;
}