.card {
  flex-basis: 27%;
  font-size: 14px;
  margin: 0 40px 40px 0;
  padding: 50px 0;
  text-align: center;

  &_img {
    height: 120px;
    margin: auto;
    width: 200px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 38%;
  }
}
